In [1]:
import pandas as pd
import numpy as np

In [2]:
Rawdata = pd.read_excel('COUNTOFD_BBCO_OFT_DATABASE.xlsx', header = 0)

In [3]:
InUse = ['SKUCode', 'ReleaseDate', 'ActualDeliveryDate','OrderNum','DeliveryOrderVolumeHL']
df = Rawdata[InUse]

,SKUCode,ReleaseDate,ActualDeliveryDate,OrderNum,DeliveryOrderVolumeHL
0,62808,2021-04-23,2021-05-03,19453697,3.200
1,78561,2021-05-20,2021-05-22,19587519,124.800
2,86774,2021-05-20,2021-05-22,19586949,22.176
3,78561,2021-05-20,2021-05-22,19587078,115.200
4,78561,2021-05-20,2021-05-22,19590698,43.200
5,78561,2021-05-20,2021-05-22,19590698,14.400
6,78561,2021-05-20,2021-05-22,19590878,19.200
7,74155,2021-05-08,2021-05-10,19505934,27.720
8,76353,2021-05-08,2021-05-10,19505934,3.696
9,76353,2021-05-08,2021-05-10,19505934,4.026
10,76353,2021-05-08,2021-05-10,19505934,4.290
11,71502,2021-05-08,2021-05-10,19505934,6.804
12,50825,2021-05-08,2021-05-10,19505934,11.088
13,76353,2021-05-08,2021-05-10,19513829,6.006
14,74154,2021-05-26,2021-05-27,19626721,82.668
15,74154,2021-05-26,2021-05-27,19629062,5.167
16,74154,2021-05-26,2021-05-27,19629062,25.834
17,74154,2021-05-26,2021-05-27,19629061,5.167
18,71502,2021-04-29,2021-05-03,19473395,1.080
19,71502,2021-04-29,2021-05-03,19473395,26.136
20,80896,2021-04-29,2021-05-03,19473395,18.144
21,76353,2021-04-29,2021-05-03,19473395,4.158
22,76353,2021-04-29,2021-05-03,19473395,2.244
23,76353,2021-04-29,2021-05-03,19473395,5.610
24,76353,2021-04-29,2021-05-03,19473395,24.024
25,75126,2021-05-20,2021-05-22,19590477,140.824
26,74154,2021-05-26,2021-05-27,19629061,10.333
27,74154,2021-05-26,2021-05-27,19629061,12.917
28,74154,2021-05-26,2021-05-27,19629061,2.583
29,74154,2021-05-26,2021-05-27,19629060,25.834
...,...,...,...,...,...
132057,81584,2021-06-15,2021-06-16,19728545,123.552
132058,81584,2021-06-15,2021-06-16,19728545,47.520
132059,78561,2021-06-15,2021-06-18,19735253,0.000
132060,78561,2021-06-15,2021-06-18,19735253,4.800
132061,78561,2021-06-15,2021-06-18,19735253,4.800
132062,68931,2021-06-15,2021-06-19,19736227,16.896
132063,68931,2021-06-15,2021-06-19,19736227,0.000
132064,50825,2021-06-15,2021-06-19,19736227,0.000
132065,50825,2021-06-15,2021-06-19,19736227,99.792
132066,74155,2021-06-15,2021-06-16,19733061,0.000
132067,74155,2021-06-15,2021-06-16,19733061,27.720
132068,74155,2021-06-15,2021-06-19,19733700,0.000
132069,74155,2021-06-15,2021-06-19,19733700,133.056
132070,50825,2021-06-15,2021-06-16,19733922,0.000
132071,50825,2021-06-15,2021-06-16,19733922,144.144
132072,78561,2021-06-15,2021-06-17,19734494,0.000
132073,78561,2021-06-15,2021-06-17,19734494,52.800
132074,78561,2021-06-15,2021-06-17,19734494,72.000
132075,78561,2021-06-15,2021-06-17,19734507,0.000
132076,78561,2021-06-15,2021-06-17,19734507,124.800
132077,81584,2021-06-15,2021-06-17,19734652,0.000
132078,81584,2021-06-15,2021-06-17,19734652,228.096
132079,81584,2021-06-15,2021-06-17,19734652,19.008
132080,78561,2021-06-15,2021-06-16,19734660,0.000
132081,78561,2021-06-15,2021-06-16,19734660,9.600
132082,78561,2021-06-15,2021-06-16,19734660,115.200
132083,78561,2021-06-15,2021-06-16,19734717,0.000
132084,78561,2021-06-15,2021-06-16,19734717,124.800
132085,78561,2021-06-15,2021-06-16,19736202,0.000
132086,78561,2021-06-15,2021-06-16,19736202,124.800

In [23]:
group_Vol = df.groupby('OrderNum').agg({'DeliveryOrderVolumeHL':np.sum})
group_Vol = group_Vol.rename(columns={'DeliveryOrderVolumeHL':'OrderVol'})
group_Vol

          OrderVol
OrderNum
18834026     0.158
18834034     0.079
18834281     0.079
18834282     0.079
18839069     0.079
18849300     0.158
18849307     0.158
18865666     0.401
18872826     0.396
18872844     0.256
18872846     0.079
18872852     0.085
18876364     0.079
18878115     0.158
18886031     0.158
18886042     0.170
18886049     0.158
18886837    42.240
18888807     9.720
18889808     0.079
18889812     0.238
18890019     0.792
18890028     0.792
18893071     0.170
18893076     0.328
18893078     0.317
18893080     0.792
18896947     0.396
18896958     0.106
18897024     0.317
...            ...
19945579     0.158
19945582     0.158
19945585     0.158
19945588     0.158
19945591     0.158
19945594     0.158
19945597     0.158
19945599     0.158
19945602     0.158
19945751     0.396
19945766     0.316
19945787     0.158
19945895     6.804
19946104     0.852
19947168    21.665
19947530    31.001
19947692    31.000
19948206     0.158
19948209     0.158
19948671   124.800
19950309     0.554
19950312     0.554
19950366     0.158
19950369     0.158
19950376     0.158
19950467     0.237
19950469     0.238
19950480     0.079
19950543     0.054
19951791    42.557

[44826 rows x 1 columns]

In [24]:
merge = pd.merge(df,group_Vol,how = 'left',on='OrderNum')
merge['part_OFT'] = (merge['ActualDeliveryDate'] - merge['ReleaseDate']).map(lambda x: x.days)*(merge['DeliveryOrderVolumeHL']/merge['OrderVol'])
merge.head(10)

,SKUCode,ReleaseDate,ActualDeliveryDate,OrderNum,DeliveryOrderVolumeHL,OrderVol,part_OFT
0,62808,2021-04-23,2021-05-03,19453697,3.200,3.200,10.000000
1,78561,2021-05-20,2021-05-22,19587519,124.800,124.800,2.000000
2,86774,2021-05-20,2021-05-22,19586949,22.176,22.176,2.000000
3,78561,2021-05-20,2021-05-22,19587078,115.200,115.200,2.000000
4,78561,2021-05-20,2021-05-22,19590698,43.200,57.600,1.500000
5,78561,2021-05-20,2021-05-22,19590698,14.400,57.600,0.500000
6,78561,2021-05-20,2021-05-22,19590878,19.200,19.200,2.000000
7,74155,2021-05-08,2021-05-10,19505934,27.720,57.624,0.962099
8,76353,2021-05-08,2021-05-10,19505934,3.696,57.624,0.128280
9,76353,2021-05-08,2021-05-10,19505934,4.026,57.624,0.139733

In [25]:
Final_merge = merge.groupby('OrderNum')['part_OFT'].sum()
Final_merge.mean()

2.4192783867999332